 
.mojfooter {
  background-color: #070B19;
}
.mojfooter ul {
	list-style: none;
}
.mojfooter ul > li  {
	color: #ffffff;
}
.mojfooter ul > li.list-naslov  {
	margin-bottom: 5px;
	color: #013ADF;
	font-weight: bolder;
	font-size: 1.5em;  
	
}

.mojfooter ul > li:hover{ 
	border-left: solid #013ADF 3px;	 		
}
.mojfooter ul > li > a {
	padding-left: 15px;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5em;
}
.mojfooter ul > li > a:visited {
	color: #ffffff;
}

.fmarketing{
	margin-top: 15px;
	background-color: #E5E6E8; 
	margin-bottom: 15px;
	padding-left: 5%;
	padding-right: 10%;
	color:  #013ADF; 
} 
.fmarketing a:visited{
	color: #013ADF;
} 

